@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta:hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 5rem;
  background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.container {
  margin: auto;
  max-width: 1053px;
  margin-top: 50px;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  flex-direction: column;
  padding-right: 65px;
}

.rating .box {
  background-color: var(--light-grayish-magenta);
  margin: 1em;
  padding: 10px;
  font-weight: 700;
  color: var(--very-dark-magenta);
  font-size: .80rem;
  border-radius: 8px;
  width: 100%;
}

.content {
  max-width: 600px;
  padding-right: 100px;
  text-align: left;
}
.content h1 {
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.content p {
  padding-top: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box p {
  padding-left: 10px;
}

.rating > div:nth-child(2) {
  transform: translateX(10%);
}

.rating > div:nth-child(3) {
  transform: translateX(20%);
}

.lower {
  display: flex;
}

.lower .testimonial {
  background-color: var(--very-dark-magenta);
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
}

.lower > div:nth-child(2) {
  transform: translateY(10%);
}

.lower > div:nth-child(3) {
  transform: translateY(20%);
}

.icon {
  border-radius: 50%;
  width: auto;
  height: 50px;
}

.testimonial .imgprofile {
  display: flex;
  align-items: center;
  
}

.testimonial .profile {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.testimonial .name {
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
}

.testimonial .status { 
  color: var(--soft-pink);
  font-size: 12px;
}

.testimonial .testi {
  color: var(--white);
  padding-top: 10px;
  font-size: 10px;
  line-height: 1.4;
  padding-bottom: 10px;
  padding-left: 10px;
}

@media(max-width:1024px) {
  .upper {
    display: flex;
    flex-direction: column;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .content {
    text-align: center;
    padding: 1em;
  }
  .lower {
    display: flex;
    flex-direction: column;
  }

  .upper .rating .box {
    transform: none;
  }

  .lower .anne {
    margin-bottom: 50px;
  }
}